body{
    background: url(./Webp.net-resizeimage.jpg) no-repeat center center fixed; 
    background-size: cover; 
}

.height{
  height: 100vh;
}

.blur{
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}


.scale{
  /* Set the initial scale */
  transform: scale(1);
  
  /* Add transition for a smooth animation */
  transition: transform 0.3s ease;
}

/* Apply scale when hovered */
.scale:hover {
  /* Set the scale on hover */
  transform: scale(1.1);
}

.centered-row{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading{
  font-family: 'Poppins',sans-serif;
  font-weight: bold;
  color: white;
}


.text{
  font-family: 'Poppins',sans-serif;
  color: white;
}

.input{
  background-color: rgba(0, 0, 0, 0.233) !important;
  border: none !important;
  color: white !important;
}

.input::placeholder{
  color: white !important;
}

.width-form{
  width: 40%;
}


.videoHeight{
  height: 68vh !important;
  border-radius: 5% !important;
}

.displayOnlyMobileScreen{
  display: none !important;
}

@media screen and (max-width: 992px) {
  .width-form{
    width: 60%;
  }
}

@media screen and (max-width: 786px) {
  .width-form{
    width: 80%;
  }

  .fullWidthMobile{
    width: 100% !important;
  }

  .rowMobileView{
    flex-direction: column !important;
  }

  .displayOnlyMobileScreen{
    display: inline !important;
  }

  .noDisplayMobileScreen{
    display: none  !important;
  }
}